
nav{
    background-color: #FBF5EE!important;
    padding: 15px !important;
}

.nav-link{
    color: #A64A49;
}
.card-title{
    color: #A64A49;
}
.bg-color{
color: #A64A49;
}
#log{
    margin-bottom: 0px!important;
}

.dropdown li{
    padding-left: 10px;
}

.btn-inst{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 48px;
    bottom: 30px;
    right: 95px;
    background-color:#c13584 ;
    color: white;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    text-align: center;
  }
  .btn-inst:hover{
    text-decoration: none;
    color:#c13584;
    background: #fff;
}

  .btn-wps{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 48px;
    bottom: 30px;
    right: 30px;
    background-color:#0df053 ;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }
  .text-footer{
      font-size: 10px;
      color: #c05f5e;
  }
  .btn-wps:hover{
      text-decoration: none;
      color:#0df053 ;
      background: #fff;
  }

.btn-primary{
    color: white;
    border: none;
    background: #A64A49 ;
}

tr td{
    vertical-align: middle;
}
.btn-primary:hover{
    background: #c05f5e ;
}
footer{
   
    width: 100%;
    padding: 30px 60px;
    background-color: #FBF5EE;
}
#group .list-group-item{
    border: none!important;
}
#group .list-group-item a{
    color: #A64A49;
    text-decoration: none;
}
.active-p{
    color: #A64A49 !important;
    border: none;
    font-weight: bold;
    background-color: #FBF5EE !important;
}
.box{
    width: 70px;
    height: 70px;

    overflow: hidden;
  }
.box{
    position: absolute;
    right: 50%;
}
  .navbar-toggler:focus {
    outline: 1;
     box-shadow: none!important;
}
  .navbar-toggler{
     
    padding: 5px;
    height: 35px !important;
    width: 35px !important;
  }

  ul li{
    list-style: none;
    
  }
  span{
    font-size: 25px;
  }
 #footer ul li{
      color:#A64A49
  }
 #footer ul li:first-child{
      font-weight: bold;
      list-style: none;
  }
  
  .box img{
    width: 100%;
    height: auto;
  }

  .contenedor-cat{
      margin: 20px auto;
      width: 98%;
      height: 900px;
      flex: content;
      display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
  }

  .tarjeta{
    margin: 20px auto;
    width: 30%;
    height: 230px;
    background-color: #F7F7F7;
    padding: 1px;
  }
  .nuevo{
      width: 50px;
      height: 50px;
      border-radius: 60%;
      text-align: center;
      margin-top: 10px;
      margin-left: 11%;
      background-color: #FFF1E2;
      -webkit-box-shadow: -2px 7px 17px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 7px 17px -6px rgba(0,0,0,0.75);
      box-shadow: -2px 7px 17px -6px rgba(0,0,0,0.75);
      position: absolute;
      
      
  }

  #titilo{
      
      margin-top: 15px;
      color: #A64A49 ;
      font: bold;
      font-size: 13px;
      
  }


  .imagen{
    margin: 15px auto;
    width: 99%;
    height: 230px;
    
  }

  .icono{
      width: 100%;
  }
.descripcion{
    margin-top: -35px;
    text-align: center;
}

.descripcion>h5{
   font-size: 20px;
}

  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
  a{
      text-decoration: none;
  }
  .form-label{
      color: #A64A49;
  }
  .img-1{
    width:1298px;
     height:538px;
  }
  tr td a{
      font-size: 32px;
  }
  #home1{
      display: none;
  }

  @media screen and (max-width:840px){
      #home{
          display: none;
      }
      #home1{
        display: flex;
    }
       #footer {
          width: 100%;
          display: flex;
          flex-direction: column !important;
          
      }
      
  .tarjeta{
      width: 50%;
  }
      .box{
          position: absolute;
          right: 0px;
          top:0px
      }
      #footer ul li {
          font-size: 12px;
      }
      .img-1{
          height: 200px;
      }
      tr td{
          font-size: 12px;
      }
      tr td a{
          font-size: 25px;
      }
      label, option{
          font-size: 12px;
      }
      .btn{
          font-size: 12px;

          height: 35px !important;
      }
      .box{
        width: 50px;
        height: 50px;
    
        overflow: hidden;
      }
  }
 

  @media screen and (max-width:320px){
    #footer {
       width: 100%;
       display: flex;
       flex-direction: column !important;
   }
   .img-1{
       height: 180px;
   }
   .tarjeta{
    width: 100%;
}
}